@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter";
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  max-width: 1200px;
  border-radius: 0 10px 10px 0;
  position: relative;
  transform: scale(0.7);
  background-color: hsl(244, 38%, 16%);
}
.content {
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  padding: 4.5rem;
  z-index: 3;
}
img {
  object-fit: cover;
  border-radius: 0 10px 10px 0;
  width: 600px;
  position: relative;
  z-index: -1;
}
.content .header {
  font-size: 2rem;
  padding-bottom: 2rem;
}
.content .text {
  line-height: 1.6;
  margin-bottom: 3.5rem;

  width: 40ch;
}
.content span {
  color: hsl(277, 64%, 61%);
}
.content .header,
.content .stats h2 {
  color: hsl(0, 0%, 100%);
}
.content .text,
.content .stats .item .value-name {
  color: hsla(0, 0%, 100%, 0.75);
}
.stats {
  display: flex;
  justify-content: space-between;
  padding-right: 7rem;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #830bb552;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
    max-width: 600px;
    transform: scale(0.6);
  }
  .stats {
    flex-direction: column;
    padding-right: 0;
  }
  .stats .item {
    padding-bottom: 2rem;
  }
  .content {
    align-items: center;
    text-align: center;
  }
  .image img {
    width: 100%;
  }
}
